/*=================== fonts ====================*/
* {
    font-family: 'Gugi', cursive;
    color: #b4ab9f;

}
/*=================== navbar ====================*/
.navbar{
    background-color: #c7b0ff;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    z-index: 3;
    height: 70px;
}

.navbar-brand logo_h{
    padding: 0;
    margin:0;

}
.navbar_logo{
    padding:0;
    margin:0;


}
.img_logo{
    padding: 0px;
    margin: 0px;

}

.navbar_search{
    padding:0;
    border-radius:0;
    border-color:#c7b0ff;

}


.navbar_links{
    font-size: 30px;
    display: flex;
    list-style: none;

}

.navbar_links li {
    padding-right: 13px;
    padding-left: 15px;

}

.navbar_links li:hover a{
    color: #c00000;
     text-shadow: 0 0 10px blue;
}
.navbar_links li a i{
    color:antiquewhite;
}
/*=================== main page ====================*/
.main_page_all {
    padding-top: 85px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    text_align: center;
    z-index: 1;
    background-color: #080615;

}

.main_column{

    height:100%;
    background-color: #080615;
    margin-right:100px;
    padding-top:37px;
    /*width: 600px;*/
}

.side_column{
    width: 380px;
    height: 1000px;
    background-color: transparent;
    position:fixed;
    left:60%;
    z-index: 2;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left:130px;

}
/*===================modal====================*/
.modal-content{
    background-color: #080615;
    border: 1px solid antiquewhite;
    width: 350px;
}
.modal-header{
    justify-content:center;
}
.modal-title{
    width:100%;
    text-align:center;
}
.modal-footer{
    justify-content:center;
}
.modal_dismiss_button{
    background-color:#080615;
    color:#c7b0ff;
    border:none;
}
/*===================comment====================*/


/*===================card====================*/
.card{
    margin-bottom:120px;
    border: 2px solid #b4ab9f;
    background-color: #080615;
    border-radius: 7px;
    /*width: 570px;*/

}
.card_top{
    height: 50px;
    display:flex;
    justify-content: space-between;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
}


.profile{
    flex-direction:row;
    width: 150px;

}
.profile p{
    color:#C7B0FFFF
}
.profile :hover {
    color:#88F3FFFF
}

.profile_pic{
    width:25px;
    height:25px;
    float:left;
}

.modar{
    border:none;
}

.modal_button{
    background-color:transparent;
    border:none;
}

.icon_bar{
    margin:10px;
    padding:0;
    font-size: 30px;
    display: flex;
    list-style: none;
    justify-content: space-between;

}





/*===================여기 수정====================*/
.icon_bar_left{
    margin:0;
    display:flex;
    list-style: none;
    padding-left:0;
    width:5%

}
.icon_bar_left li button{
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    width:37px;
    height:37px;
    vertical-align: center;
}

.icon_bar_left li button i{
    color:#766DFFFF;
    font-size: 0.9em;
    vertical-align: center;
}
.airplane button i{
    font-size: 0.7em;
}

.icon_bar_left li:hover button{
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    border-radius: 2px;

}
.icon_bar_left li:hover button i{
        color:#080615
}
.bookmark{
    background-color: transparent;
    border:none;
}
.bookmark :hover{
    color:#88f3ff;
}


/*===================여기 수정====================*/

.card-text {
    padding-left: 46px;
}
.counter-click{
    color:#88f3ff;
}
.card-text h6{
    color:#C7B0FFFF;
}

.comment_box{
    background-color: transparent;
    border:none;
    font-size: 0.9em;
}
.comment_box:hover {
    color:#88F3FFFF;
}
.comment-list{
    display:none;
}
.time_passed{
    font-size: 0.8em;
}

.card_bottom {
    display: flex;
    text_align: center;
}
.card_bottom textarea {
    width:90%;
    background-color: #080615;
    magin-left:20px;
    magin-bottom:20px;
}
.form-control {
    magin-left:20px;
    magin-bottom:20px;
}
.card_bottom a {

    height:40px;
    padding-left:14px;
    margin-top: 10px;
    padding-top: 20px;
    display:flex;
    line_height:40px;
}
.comment_upload_button{
    background-color: transparent;
    border:none;
    color:#88F3FFFF;
}

/*===================right column====================*/
.side_column{
}
.list-group-item{
    height:110px;
    display:flex;
    justify-content: space-between;
    background-color: #080615;
    border-color:antiquewhite;
}
.name_list{

    float: left;
    background-color: #080615;
    border: 2px solid #B4AB9FFF;
    border-radius: 7px;
}

.namebox_change{
    float: left;
    margin-top: 100%;
    color:#88F3FFFF;
}
.namebox_change:hover{
    color:#766dff;
}

.footer{
    background-color: white;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    width:100%;
    z-index: 4;
    height: 70px;
    padding-top:5px;
}

.footer-contents{
    list-style: none;
    display: flex;
    justify-content: center;

}
.footer-contents li a{
    color: antiquewhite;
}

.footer div{
    display: flex;
    justify-content: center;
    color:grey;
}