<div class="body_part">
    <div class="body_content">
        <div class="first-row">
            <button class="hyperlink_to"><i class="fa fa-th"></i>  게시물</button>
            <button class="hyperlink_to"><i class="fa fa-film"></i>  릴스</button>
            <button class="hyperlink_to"><i class="fa fa-caret-right"></i>  동영상</button>
            <button class="hyperlink_to"><i class="fa fa-user-female"></i>  태그됨</button>
        </div>

    </div>
</div>



/*===================하단====================*/
        .body_part{
            display: flex;
            justify-content: center;
        }
        .body_content{
            background-color: tomato;
            width: 800px;
            height: 1000px;

        }
        .first-row{
            display: flex;
            justify-content: center;
        }

